<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/materialize.min.css"  media="screen,projection"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<p>
    <a  href="/RegistoDador"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

</p>

<table class="container">

<thead>

<tr>
    <th> Nome </th>
    <th> Apelido </th>
    <th> Telefone </th>
    <th> Email </th>
    <th> Sexo </th>

</tr>
</thead>

    <tbody>
    <tr th:each = "dador : ${dadores}">



            <td>  <span th:text = "${dador.apelido}"> </span></td>)
            <td>  <span th:text = "${dador.telefone}"> </span></td>
            <td>  <span th:text = "${dador.email}"> </span></td>
            <td>  <span th:text = "${dador.sexo}"> </span></td>



        </tr>


    </tbody>



</table>








<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
